#main-completo {
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 699px;
  /* Altura desejada */
  position: relative;
  background: linear-gradient(
    to top,
    rgba(18, 24, 36, 0) 0%,
    rgba(18, 24, 36, 2) 100%
  );
}

#main-completo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(18, 24, 36, 0) 0%,
    rgba(18, 24, 36, 2) 100%
  );
  z-index: 1;
}

main #video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* z-index: -1;*/
}

.background-main {
  padding: 6rem 0;
  background: var(--colors-background-2);
  color: var(--padrao);
}

.background-main span {
  display: block;
}

.background-main span,
h1,
p {
  margin-bottom: 20px;
}

.background-main h1 {
  margin-bottom: 40px;
  color: var(--cor-extra-3);
}

.background-main h1::after {
  content: "";
  height: 4px;
  width: 30px;
  display: block;
  margin: 10px 0;
  background-color: var(--cor-extra-3);
}

.background-main p {
  line-height: 26px;
  letter-spacing: 0.5px;
  max-width: 100%;
  padding-right: 20px;
}

/*background-dark-4*/
.background-dark-4 {
  background-color: #121824;
}

/**/
.background-section {
  padding: 6rem 0;
  background: var(--colors-background-1);
  color: var(--padrao);
}

.background-section h1 {
  margin-bottom: 40px;
  color: var(--padrao);
}
.background-section h1.titulo::after {
  margin: 10px 0;
}
.background-section p {
  line-height: 26px;
  letter-spacing: 0.5px;
}

.background-section .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.background-section-texto {
  line-height: 32px;
}

.background-section .container .background-section-img {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}

.background-section .container .background-section-img img {
  max-width: 170px;
  height: 170px;
  margin-left: -10px;
}

.background-section .container .background-section-img h1 {
  margin-left: 10px;
  margin-bottom: 10px;
  color: var(--cor-extra-3);
}

.background-section .container .background-section-img h2 {
  margin-left: 10px;
  margin-bottom: 10px;
  color: var(--cor-extra-3);
}

.background-section
  .container
  .background-section-img
  .background-section-img-efeito {
  display: flex;
  align-items: center;
}
.background-section
  .container
  .background-section-img
  .background-section-img-efeito
  strong {
  font-size: 32px;
  margin-left: 18px;
  color: var(--cor-extra-3);
}

.background-section .container .background-section-img p {
  margin-left: 40px;
  margin-left: 10px;
}

/* background-dark-4-div */

#background-dark-4 {
  padding: 6rem 2% 8rem 2%;
  background-color: #121824;
}

#background-dark-4 h1 {
  color: var(--padrao);
}

#background-dark-4 h1:after {
  content: "";
  height: 4px;
  width: 30px;
  display: block;
  margin: 10px 0;
  background-color: var(--padrao);
}

#background-dark-4 .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

#background-dark-4 .container #background-dark-4-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#background-dark-4 .container #background-dark-4-div-item {
  max-width: 30%;
  padding: 0px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

#background-dark-4 .container #background-dark-4-div-item img {
  margin: 20px 0;
}

#background-dark-4 .container #background-dark-4-div-item h2 {
  color: var(--cor-extra-3);
  font-weight: bold;
  letter-spacing: 0.5;
  font-size: 26px;
  line-height: 38px;
  margin: 20px 0;
}

#background-dark-4 .container #background-dark-4-div-item ul li {
  background-color: #121824;
  color: var(--padrao);
  font-size: 1.8rem;
  line-height: 2.4rem;
  list-style: disc;
  padding: 7px 0;
}

/* background-div-img */
.background-div-img {
  padding: 6rem 0;
  background-image: url("../images/desenvolvimentosustentavel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 808px;
  width: 100%;
  color: var(--padrao);
  padding: 40px 0;
  position: relative;
  display: inline-block;
}

.background-div-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 808px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 1, 1) 0%,
    rgba(18, 24, 36, 0.397) 100%
  );
}

.background-div-img .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 2%;
}

.background-div-img-rigth {
  max-width: 700px;
  text-align: initial;
  z-index: 1;
}

.background-div-img-rigth h1 {
  margin-top: 60%;
  color: var(--padrao) !important;
}

.background-div-img-rigth p {
  color: #fff;
}

/* Equipe */
#principal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 6rem 0;
}

#principal h1 {
  text-align: center;
  color: var(--colors-background-1);
  margin-bottom: 50px;
  width: 100%;
}

#principal .principal-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  width: 66%;
  margin: 0 20% 0 17%;
}

#principal .principal-container .principal-container-div-redes {
  width: 42%;
  margin: 20px;
}

#principal h2 {
  color: var(--colors-background-1);
  margin-left: 10px;
  margin-bottom: 10px;
}

#principal span {
  display: block;
  color: #8d8ba7;
  margin-left: 10px;
  margin-bottom: 10px;
}

#principal .principal-container .principal-img {
  max-width: 387px;
  max-height: 387px;
}

#principal .principal-container .principal-redes {
  margin-left: 5px;
}

#principal
  .principal-container
  .principal-container-div-redes
  .principal-redes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
  margin-left: 10px;
}

#principal
  .principal-container
  .principal-container-div-redes
  .principal-redes
  a {
  margin-right: 4px;
  background: #f2f1fa;
  border-radius: 4px;
  padding: 4px 8px;
  text-decoration: none;
}

#principal
  .principal-container
  .principal-container-div-redes
  .principal-redes
  a
  i {
  color: #8d8ba7;
}

@media (max-width: 1220px) {
  #main-completo {
    height: 399px;
  }

  .background-main {
    padding: 4rem 0;
  }
  /**/
  #background-dark-4 .container #background-dark-4-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #background-dark-4 .container #background-dark-4-div-item {
    max-width: 90%;
    padding: 0;
    cursor: pointer;
    margin-bottom: 20px;
  }
  /**/
  /* background-div-img */
  .background-div-img {
    padding: 4rem 0 6rem 0;
    height: 508px;
  }

  .background-div-img::after {
    height: 508px;
  }

  .background-div-img-rigth h1 {
    margin-top: 30%;
    color: var(--padrao) !important;
  }

  /*redes*/

  #principal .principal-container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  #principal .principal-container .principal-container-div-redes {
    width: 100%;
    margin: 20px;
    align-items: center;
  }

  #principal .principal-container .principal-img {
    max-width: 687px;
    max-height: 687px;
    margin: 0 auto;
  }

  #principal
    .principal-container
    .principal-container-div-redes
    .principal-redes {
    margin: 20px auto;
    max-width: 200px;
  }

  #principal
    .principal-container
    .principal-container-div-redes
    .principal-redes
    a {
    background: #f2f1fa;
    border-radius: 4px;
    padding: 4px 8px;
    text-decoration: none;
    margin: 0 auto;
  }

  #principal
    .principal-container
    .principal-container-div-redes
    .principal-redes
    a
    i {
    color: #8d8ba7;
  }
}

@media (max-width: 780px) {
  .background-section .container .background-section-img img {
    max-width: 150px;
    height: 150px;
  }

  .background-section .container .background-section-img h1 {
    margin-left: 20px;
  }

  .background-section .container .background-section-img p {
    margin-left: 20px;
  }

  .background-div-img .container {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
}
