:root {
  --colors-background: #112234;
  --colors-background-1: #1a202c;
  --colors-background-2: #121824;

  --padrao: #ffffff;

  --cor-extra-1: #f4e9d8;
  --cor-extra-2: #9d6a32;
  --cor-extra-3: #cca353;
  --cor-extra-4: #16635b;

  --cor-extra-5: #5d5a88;
  --cor-extra-7: #9e9bbe59;
  --cor-extra-6: #f2f1faa9;
  --background: #d3dce7;
}
